body.page-user {
  .profile {

    .field-name-field-single-image-private {
      img {
        display: inline-block;
        height: 220px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        box-shadow: 0 0 12px rgba(0, 0, 0, .6);
        -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
        -moz-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
      }

    }

    .field-name-name-field {
      h1 {
        margin-bottom: 3px;
      }
    }

    .group-links {
      text-align: center;
    }
  }
}